extends layout
block title
    title ACCESS DENIED
block content
    h1 ACCESS DENIED
    p Access to this file is allowed from the localhost only. This violation has been logged! 
    p Please report to the sheriff for cleaning duty.  
    p
