extends layout
block title
    title Generator Status
block content
    h1 Generator Status
    p Current Mechanical Generator Power Output: 30%
    p Dedicated IT Power Output: 100%
    p Current IT Department Power Usage: 83%
    p Generator Holiday Time Remaining: 3 days
    p
