!!! 5
html
  include header
  body
    block content
    block foot
        #footer
            br
            br
            br
            br
            | <a href="/">Home</a> | 
            | <a href="/generator">Generator Status</a> | 
            | <a href="/admin">Forensics</a>